.Equipo{
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.Equipo h3{
    font-size: 32px;
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid #57C278;
    display: inline-block;
    padding-bottom: 8px;
}
.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.input-color{
    position: absolute;
    top: 20px;
    right: 50px;
}